:root {
    --color-01: #5f4534;
    --color-highlight: #2cceab;
    --color-03: #c26565;
    --font-family: 'Arial, sans-serif';
}

@keyframes colorChange {
    0% { color: var(--color-01); }
    50% { color: var(--color-highlight); }
    100% { color: var(--color-01); }
}

/* body styling */
body {
    color: var(--color-01);
    font-family: var(--font-family);
    margin: 10px;
    padding: 0;
    background-color: #f0dfc1;
}


/* heading styling */
.heading {
    text-align: center;
    font-size: 64px;
}

/* Dropdown rules styling */
#droppdown-rules {
    animation: colorChange 2s infinite;
}

section summary #dropdown-btn {
    margin: 0;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
}

details summary {
    list-style: none;
    padding-left: 0;
}

#dropdown-btn {
    animation: colorChange 3s infinite;
}

#droppdown-rules[open] #dropdown-btn {
    color: var(--color-highlight);
}


/* Game area styling */
.row {
    max-width: 350px;
    margin: auto;
}

